.contenedor-perfil {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    /* margin-top: 20px; */
}
.banner-perfil {
   /* The image used */
  background-image: url("/static/usuarios/images/perfil-bg.jpg");

  /* Set a specific height */
  min-height: 300px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}