# Entorno virtual
venv/
.env

# Archivos compilados de Python
__pycache__/
*.py[cod]

# Archivos de logs
*.log

# Archivos temporales de sistema
.DS_Store
Thumbs.db

# Archivos de IDEs y editores
.vscode/
.idea/
*.swp

# Archivos de migración cacheados (opcional si los manejas distinto)
*.pyc
