<div class="carta-producto w-100 border-0" >
    <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" >
    <div class="p-2">
        <p class="m-0 fw-medium">
            {% if producto.stock > 10 %}
                <span class="etiqueta-stock text-success">En stock</span>
            {% elif producto.stock > 0 %}
                <span class="etiqueta-stock text-warning">Pocas unidades</span>
            {% else %}
                <span class="etiqueta-stock text-danger">Agotado</span>
            {% endif %}
        </p>
        <h5 class="card-title text-truncate">{{ producto.nombre }}</h5>
        <p class="card-text my-3">Desde ${{ producto.precio }} MXN</p>
        <a href="{% url 'producto' producto.id %}" class="btn btn-dark d-block {% if producto.stock = 0 %}d-none{% endif %}" ><i class="bi bi-bag-fill me-2"></i>Ver más</a>
    </div>
</div>
